@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-primary: var(--color-emerald-600);
  --color-brand-secondary: var(--color-slate-900);
  --radius-bento: 32px;
}

